* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
}

html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

body {
    background-color: #252525;
}

h1, h2 {
    font-family: 'Bebas Neue', sans-serif;
}

header {
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #252525;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 4px;
    border-image: linear-gradient(to right, #1363DF, #47B5FF, #1363DF, #47B5FF) 1;
    border-style: solid;
} 

nav, section, footer ul {
    width: 50%;
    padding: 8px;
}

.logo {
    height: 1.25rem;
    display: block;
    margin-right: 2.5px;
}

.logo-text {
    font-size: 1.5rem;
    font-weight: 400;
    display: inline-block;
    line-height: 1.65rem;
    height: 1.5rem;
}

nav ul {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
}

.logo-container {
    display: flex;
    align-items: center;
    
    font-family: 'Bebas Neue', sans-serif;
    text-decoration: none;
}

.nav-links a{
    margin-right: 25px;
    text-decoration: none;
    font-family: 'Bebas Neue', sans-serif;

    font-size: 1.5rem;
}

.nav-links a:last-child {
    margin-right: 0;
}







.nav-hover-ani {
    position: relative;
    display: inline-block;
}

.nav-hover-ani::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    background-color: #ffffff;
    width: 100%;
    transform: scaleX(0);
    transition: transform 0.3s;
    transform-origin: left;
}

.nav-hover-ani:hover::after {
    transform: scaleX(1);
}

.nav-hover-ani:hover:active {
    color: #1363DF;
    transition: 0.3s;
}








main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.my-picture {
    display: block;
    border: 4px solid #ffffff;
    object-fit: cover;
    height: 250px;
    width: 178px;
}

.myself-img {
    margin: 64px 0 0;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.my-name-text {
    font-size: 3rem;
    font-weight: 400;
    margin: 16px 0;
}

.myself-bio {
    border-top: 4px;
    border-bottom: 4px;
    border-left: 0;
    border-right: 0;
    border-style: solid;
    border-color: #ffffff;
    padding: 48px 0;
    text-align: center;
    width: 600px;
}

.myself-bio p {
    padding: 0 32px;
}

.myself-link {
    margin: 32px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 48px;
}

.myself-link a {
    /* border: 4px #ffffff solid; */
    width: 165px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    position: relative;
}

.myself-link a::before, .myself-link a::after {
    content: '';
    display: block;
    position: absolute;
    background-color: #1363DF;
    transition: 0.2s;
    transition-delay: 0.2s;
}

.myself-link a::before {
    top: 0;
    right: 0;
    width: 0;
    height: 4px;
}

.myself-link a::after {
    left: 0;
    bottom: 0;
    width: 0;
    height: 4px;
}

.myself-link a:hover::before{
    width: 100%;
    transition-delay: 0s;
}

.myself-link a:hover::after{
    width: 100%;
    transition-delay: 0s;
}

.myself-link a span {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.5rem;
    display: block;
    background-color: #252525;
    padding: 8px 16px;
    outline: 4px solid #ffffff;
    outline-offset: -4px;  
}

.myself-link a span::before, .myself-link a span::after {
    content: '';
    display: block;
    position: absolute;
    background-color: #1363DF;
    transition: 0.2s;
    transition-delay: 0s;
}

.myself-link a span::before {
    top: 0;
    left: 0;
    width: 4px;
    height: 0;
}

.myself-link a span::after {
    right: 0;
    bottom: 0;
    width: 4px;
    height: 0;
}

.myself-link a:hover span::before{
    height: 100%;
    transition-delay: 0.2s;
}

.myself-link a:hover span::after{
    height: 100%;
    transition-delay: 0.2s;
}

main {
    position: relative;
    height: 100%;
}

.main-deco {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    z-index: -1;
    background-image: url(images/mainDecoration.svg);
    background-position: 50% 0%;
    background-size: 5000px 2625px;
    background-repeat: no-repeat;
}


  








footer {
    margin-top: auto;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;

    background-color: #252525;
    border-top: 4px;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    border-image: linear-gradient(to right, #47B5FF, #1363DF, #47B5FF, #1363DF) 1;
    border-style: solid;
}

footer ul {
    list-style: none;
}



.footer-wrapper, .footer-wrapper-image {
    display: flex;
}

.footer-wrapper {
    justify-content: space-between;
}

.footer-image {
    display: block;
    width: 24px;
    margin-right: 15px;
}